body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.App{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  text-align: center;
}
.input:focus {
  outline: none;
  border-color: #aaa;
}
.maincard{
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cardImg{
  width: 250px;
  height: 250px;
  border-radius: .25rem;
}
.userName{
  font-size: 1.5rem;
  font-weight: bold;
  margin: none;
}
.userTag{
  font-size: 1rem;
  font-weight: bold;
  margin: none;
}
.extras{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}